/*Våran styling på element*/
body {
    background-color: #C5ADC5;
}
h1 {
    text-align: center;
    
    font-family: sans-serif;
}
.my-box {
    background-color:#F8F8F9;
    padding: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start of the container */
}
#color, #divStyle, #submitButton, #content, #myDiv {
    margin-top: 1.5vw;
}